@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-header: 47, 47, 47;
  --foreground-paragraph: 75, 63, 95;
  --background-rgb: 227, 227, 227;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 227, 227, 227;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(var(--foreground-header));
}

body {
  color: rgb(var(--foreground-paragraph));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.vl {
  border-left: 2.5px solid #4B3F5F;
}